@charset "UTF-8";

div.manag_h3 {
	border-bottom: solid 2px gray;
	margin: 30px;
}

div.sub_leave_count {
	border: solid 1px #eee;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 95%;
	margin: auto;
	padding: 10px;
}

div.sub_leave_count>div.myLeavelist {
	height: 500px;
	margin: auto;
}

table.myLeavetotalTable {
	flex: 1;
	margin-top: 15px;
	margin-bottom: 30px;
	border: solid 1px #eee;
}

table.myLeavelistTable {
	flex: 1;
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

table, th, td {
	border: 1px solid #ddd;
	text-align: center;
}

#sub_mycontent > div.sub_leave_count > div.myLeavelist > table > thead > tr > th{
	background-color: #fee4c6;
}

th, td {
	padding: 10px;
}

th {
	background-color: #f4f4f4;
}