/* 전체 창 (mycontent) */

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body{
font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
}

#mycontent {
    min-height: 760px;
    margin-left: 250px;  /* 사이드바가 열렸을 때 */
    transition: margin-left 0.3s ease-in-out; /* 사이드바와 함께 콘텐츠의 이동을 부드럽게 */
    border: solid 1px red;
}

#mycontent.full {
    margin-left: 50px; /* 사이드바가 접히면 margin-left를 적절히 조정 */
}

/* 네비 메뉴바 */
#myheader > nav > div.navbar_menu {
    border: solid 1px blue;
}

#myheader > nav > div > a {
    border: solid 1px red;
    padding: auto 30px;
}

/* 프로필 창 */
div.profile {
    margin: 40px;
    border: solid 1px black;
}

/* 사이드바 */
.sidebar {
    border: solid 1px navy;
    height: 760px;
    width: 250px; /* 사이드바가 펼쳐졌을 때 */
    position: absolute; /* 고정되지 않고 페이지 흐름을 따름 */
    transition: width 0.3s ease-in-out; /* 사이드바가 열리고 닫힐 때 부드러운 전환 */
}

/* 사이드바가 접힐 때 */
.sidebar.hidden {
    width: 50px; /* 사이드바가 접혔을 때 */
}

/* 메뉴 리스트 */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.dropdown-item {
    padding-left: 20px;
    display: block;
}

.submenu {
    display: none; /* 처음에 하위 메뉴는 숨김 */
}

/* 사이드바 토글 버튼 (사이드바 숨기기) */
button#toggleBtn {
    position: absolute;
    left: 10px;  /* 사이드바 있을 때 버튼 위치 */
    top: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* 사이드바가 접힐 때 토글 버튼 위치 */
.sidebar.hidden + #toggleBtn {
    left: 10px; /* 사이드바가 사라져도 버튼은 유지 */
}
