<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- domain(VO) package -->
   <typeAliases>
		<typeAlias type="com.spring.med.management.domain.Parent_deptVO_ga" alias="Parent_deptVO_ga"/>
		<typeAlias type="com.spring.med.management.domain.Child_deptVO_ga" alias="Child_deptVO_ga"/>
		<typeAlias type="com.spring.med.management.domain.ManagementVO_ga" alias="ManagementVO_ga"/>
   </typeAliases>

</configuration>