<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <!-- domain(VO) package -->
   <typeAliases>
      <typeAlias type="com.spring.med.board.domain.BoardVO" alias="BoardVO"/>
      <typeAlias type="com.spring.med.memo.domain.MemoVO" alias="MemoVO"/>
       <typeAlias type="com.spring.med.schedule.domain.Calendar_small_category_VO" alias="Calendar_small_category_VO"/> 
      <typeAlias type="com.spring.med.patient.domain.PatientVO" alias="PatientVO"/>
      <typeAlias type="com.spring.med.management.domain.Parent_deptVO_ga" alias="Parent_deptVO_ga"/>
      <typeAlias type="com.spring.med.management.domain.Child_deptVO_ga" alias="Child_deptVO_ga"/>
      <typeAlias type="com.spring.med.management.domain.ManagementVO_ga" alias="ManagementVO_ga"/>
      <typeAlias type="com.spring.med.organization.domain.OrganVO" alias="OrganVO"/>
      <typeAlias type="com.spring.med.surgery.domain.SurgeryroomVO" alias="SurgeryroomVO"/>
      <typeAlias type="com.spring.med.surgery.domain.SurgeryVO" alias="SurgeryVO"/>
      <typeAlias type="com.spring.med.patient.domain.TreatPatientVO" alias="TreatPatientVO"/>
      <typeAlias type="com.spring.med.approval.domain.ApprovalVO" alias="ApprovalVO"/>
      <typeAlias type="com.spring.med.board.domain.CommentVO" alias="CommentVO"/>
      <typeAlias type="com.spring.med.hospitalize.domain.HospitalizeroomVO" alias="HospitalizeroomVO"/>
      <typeAlias type="com.spring.med.hospitalize.domain.HospitalizeroomVO" alias="HospitalizeVO"/>
      <typeAlias type="com.spring.med.notice.domain.NoticeVO" alias="NoticeVO"/>
      <typeAlias type="com.spring.med.order.domain.OrderVO" alias="OrderVO"/>
      <typeAlias type="com.spring.med.administration.domain.Calendar_patient_recordVO" alias="Calendar_patient_recordVO"/>
   </typeAliases>
</configuration>