@charset "UTF-8";

.header, .content, .reservation {
	margin: 0 auto;
	width: 80%;
}

/* 상단 */
.content {
	/*border: 1px solid red;*/
	margin: 0 auto;
	width: 80%;
	padding-top: 2%;
}
div.title {
	border-left: 5px solid #006769;	
	padding-left: 1%;
	font-size: 20px;
	margin-bottom: 1%;
	color: #4c4d4f;
	font-weight: bold;
}
div.surgery,
div.hospitalized {
/* 	border: 1px solid black; */
	height: 435px;
	margin-bottom:1%;
}
div.list {
	border: 1px solid #eee; 
	height:322px;
}
button.btn {
	background-color: #006769;
	color: white;
	height:30px;
	font-size: 10pt;
}
button > span {
	position: relative;
	top:-2.5px;
}
tr.clicktr {
	height:10px;
}


/* 페이지바 */
div#pageBar a,
div#pageBar2 a  {
	color: #509d9c;
	cursor: pointer;
}
#pageBar > ul > li,
#pageBar2 > ul > li {
	color: #006769;
	font-weight: bold;
	cursor: pointer;
}

/* 캘린더 */