@charset "UTF-8";

.header, .content, .reservation {
	margin: 0 auto;
	width: 80%;
}

/* 상단 */
.content {
	/* border: 1px solid red; */
	margin: 0 auto;
	width: 80%;
	padding-top: 2%;
	display: flex;
	height:705px
}
div.title {
	border-left: 5px solid #006769;	
	padding-left: 2%;
	font-size: 20px;
	margin-bottom: 1%;
	color: #4c4d4f;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}
div.regimenu > span {
	font-size: 12pt;
	color:gray;
}
div.left,
div.right {
	/* border: 1px solid black;  */
	height: 700px;
	width:50%;
}


/* 수정 form */
div.input {
	/* display: flex; */
	margin-bottom: 3%;
}
div.read > input {
	background-color: #eee;
}
div.text {
	width:300px;
	margin-bottom: 1% ;
}
span.error {
	font-size: 10pt;
	color:red;
}
input {
	width: 620px;
	height: 35px ;
	border: 1px solid #ccc;
	padding-left: 1%;
	border-radius: 10px;
}
select {
	width: 620px;
	height: 35px ;
	border: 1px solid #ccc;
	padding-left: 1%;
	border-radius: 10px;
}
div.div_surgerydate {
	display: flex;
}
input.surgerydate {
	width:47%;
}
select.surgeryStartdate {
	width:47%;
}
div.form {
	height: 600px;
	padding-top: 2%;
	margin-top: 2%;
	border-top:1px solid black;
	
}
select.surgeryenddate {
	width:96.5%;
}
div#calendar {
	/* border: 1px solid #ccc;  */
	height: 600px ;
}


/* 버튼 */
div.button {
	text-align: center;
}
button.btn {
	background-color: #006769;
	color: white;
}
