@charset "UTF-8";

/* 상단 */
.header {
	border-bottom: 1px solid black;
	margin: 0 auto;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 1%;
	display:flex;
	justify-content: space-between;
}
div.title {
	width:50%;
}
.header > div.title > span.title {
	border-left: 5px solid #006769;	
	padding-left: 2%;
	font-size: 20px;
	color: #4c4d4f;
	font-weight: bold;
}
.header > div.title > span.sub {
	font-size:12pt;
	margin-left: 1%;
}
span.cnt {
	color: #f68b1f;
	font-weight: bold;
}

/* 하단 */
div.notice {
	/* border: 1px solid black; */
	margin: 0 auto;
	width: 80%;
	
}
div.one_row {
	height:110px;
	border-bottom: 2px solid #ccc;
	padding:1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
div.article_main {
	display: flex;
	/* border: 1px solid blue; */
}
div.article_title {
/* 	border: 1px solid red; */
	font-size:13pt;
	margin-bottom:1%;
	cursor: pointer;
	width:98%;
}
div.fix {
/* 	border:1px solid red; */	
	position: relative;
	top: 20px;
}
div.article_info {
	font-size:10pt;
	color:gray;
	cursor: pointer;
}

/* 모달 */
div.modal_title > input.input,
div.modal_header > select.notice_dept
 {
	width:850px;
	height:40px;
	border:1px solid #ccc;
}
div.modal_content > textarea.content {
	border:1px solid #ccc;
}
div.modal_header {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height:80px;
	text-align: center;
}
div.modal_title {
	border-bottom: 1px solid #ccc;
	height:100px;
	text-align: center;
}
div.modal_content {
	border-bottom: 1px solid #ccc;
	height:350px;
	text-align: center;
}
div.modal_file {
	border-bottom: 1px solid #ccc;
	height:50px;
	text-align: center;
}
div.modal_fixcheck {
	border-bottom: 1px solid #ccc;
	height:50px;
	text-align: center;
}
div.modal_header,
div.modal_title,
div.modal_content,
div.modal_fixcheck,
div.modal_file {
	display: flex;
	align-items: center;
}
div.subtitle {
	width:200px;
	margin-right: 2%;
}
button.noticeWite {
	background-color: #006769;
	color:white;
}

/* 페이지바 */
div#pageBar a {
	color: #509d9c;
	cursor: pointer;
}
#pageBar > ul > li {
	color: #006769;
	font-weight: bold;
	cursor: pointer;
}